{% extends '../base.html' %} {% load static %} {% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/details.css' %}" />
{% endblock %} {% block title %} This Website {% endblock %} {% block main %}
<main>
  <h1 class="contact-us">This Website</h1>

  <div class="anchor-container">
    <a href="#assignment" class="anchor-link">Assignment</a>
    <a href="#technology" class="anchor-link">Technology</a>
    <a href="#results" class="anchor-link">Results</a>
  </div>

  <hr />

  <a id="assignment"></a>
  <div class="columns">
    <div class="col">
      <img class="column-image" src="{% static 'img/bg.jpg' %}" />
    </div>

    <div class="col">
      <h2 class="grid-header">Assignment</h2>
      <p class="grid-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
        iure quisquam similique. Sequi quos recusandae quod nulla dolore ipsa
        totam, distinctio, ullam eaque aliquid nam et nesciunt repudiandae sit
        temporibus praesentium! Distinctio saepe voluptates commodi
        exercitationem vero, harum ipsa corrupti quasi quo maxime obcaecati
        rerum nesciunt explicabo magni accusantium eaque, repudiandae nam sint
        enim omnis iure delectus soluta, quisquam consectetur. Pariatur, dolor
        molestias reprehenderit inventore, repellendus velit ea ut vitae
        blanditiis totam nostrum atque dolorem vel distinctio sit quis
        dignissimos deleniti, ipsum quae aperiam beatae consequatur quisquam.
        Autem animi corporis sunt cum atque ab repudiandae suscipit
        necessitatibus aliquid, consequatur obcaecati.
      </p>
    </div>
  </div>

  <hr />

  <a id="technology"></a>
  <div class="columns">
    <div class="col">
      <h2 class="grid-header">Technology</h2>
      <p class="grid-body">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente
        pariatur expedita saepe quos deserunt perspiciatis voluptatum aliquid
        explicabo blanditiis sit, eveniet deleniti autem consequatur vel odit,
        ipsa modi laborum? Dignissimos distinctio placeat dolore, natus sint
        maxime dolores fugiat! Dolores praesentium, iure quam provident
        doloremque qui hic accusamus sequi omnis maiores quaerat repellat dolor
        ratione ad illo, ab cupiditate. Obcaecati ducimus sunt ea consequuntur
        iusto tenetur maxime error neque deleniti similique at unde corrupti
        libero est sequi aperiam nesciunt id quo ipsum explicabo eos cum,
        mollitia voluptates! Quisquam voluptatem dignissimos perferendis odit
        fuga corrupti sed consequatur magni aut accusamus. Accusamus, eius.
      </p>
    </div>

    <div class="col">
      <div class="logo-row">
        <a href="https://www.djangoproject.com/" class="svg-logo">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 256 326"
            class="tech-logo"
          >
            <g>
              <path
                fill="currentColor"
                class="django-primary"
                d="M114.784 0h53.278v244.191c-27.29 5.162-47.38 7.193-69.117 7.193C33.873 251.316 0 222.245 0 166.412c0-53.795 35.93-88.708 91.608-88.708 8.64 0 15.222.68 23.176 2.717V0zm1.867 124.427c-6.24-2.038-11.382-2.717-17.965-2.717-26.947 0-42.512 16.437-42.512 45.243 0 28.046 14.88 43.532 42.17 43.532 5.896 0 10.696-.332 18.307-1.351v-84.707z"
              />
              <path
                fill="currentColor"
                class="django-secondary"
                d="M255.187 84.26v122.263c0 42.105-3.154 62.353-12.411 79.81-8.64 16.783-20.022 27.366-43.541 39.055l-49.438-23.297c23.519-10.93 34.901-20.588 42.17-35.327 7.61-15.072 10.01-32.529 10.01-78.445V84.261h53.21zM196.608 0h53.278v54.135h-53.278V0z"
              />
            </g>
          </svg>
        </a>
        <a href="https://www.python.org" class="svg-logo">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 234 234"
            fill="none"
            class="tech-logo"
          >
            <g id="python-logo">
              <path
                id="top-middle-right"
                d="M117 114V24H174V99C174 107.284 167.284 114 159 114H117Z"
                fill="currentColor"
                class="python-primary"
              />
              <path
                id="bottom-middle-left"
                d="M117 120L117 210H60L60 135C60 126.716 66.7157 120 75 120L117 120Z"
                fill="currentColor"
                class="python-secondary"
              />
              <path
                id="top-middle-left"
                d="M53 60H117V114H53V60Z"
                fill="currentColor"
                class="python-primary"
              />
              <path
                id="bottom-middle-right"
                d="M117 120H181V174H117V120Z"
                fill="currentColor"
                class="python-secondary"
              />
              <path
                id="right-round-corner"
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M196 96H181V105C181 113.284 174.284 120 166 120H155V133H196V96Z"
                fill="currentColor"
                class="python-secondary"
              />
              <path
                id="left-round-corner"
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M38 138H53V129C53 120.716 59.7157 114 68 114H79V101H38L38 138Z"
                fill="currentColor"
                class="python-primary"
              />
              <path
                id="Subtract"
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M60 181H174V210C174 223.255 148.48 234 117 234C85.5198 234 60 223.255 60 210V181ZM154 210C158.971 210 163 205.971 163 201C163 196.029 158.971 192 154 192C149.029 192 145 196.029 145 201C145 205.971 149.029 210 154 210Z"
                fill="currentColor"
                class="python-secondary"
              />
              <g id="right-head">
                <path
                  id="Union"
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M181 60V174H210C223.255 174 234 148.48 234 117C234 85.5198 223.255 60 210 60H181Z"
                  fill="currentColor"
                  class="python-secondary"
                />
              </g>
              <g id="left-head">
                <path
                  id="Union_2"
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M24 60C10.7452 60 0 85.5198 0 117C0 148.48 10.7452 174 24 174H53V60H24Z"
                  fill="currentColor"
                  class="python-primary"
                />
              </g>
              <path
                id="Subtract_2"
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M117 0C148.48 0 174 10.7452 174 24V53H60V24C60 10.7452 85.5198 0 117 0ZM79 42C83.9706 42 88 37.9706 88 33C88 28.0294 83.9706 24 79 24C74.0294 24 70 28.0294 70 33C70 37.9706 74.0294 42 79 42Z"
                fill="currentColor"
                class="python-primary"
              />
            </g>
          </svg>
        </a>
      </div>

      <div class="logo-row">
        <a href="https://www.w3.org/Style/CSS/Overview.en.html" class="svg-logo">
          <svg
            xmlns:dc="http://purl.org/dc/elements/1.1/"
            xmlns:cc="http://creativecommons.org/ns#"
            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
            xmlns:svg="http://www.w3.org/2000/svg"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            width="102.3716mm"
            height="144.49777mm"
            viewBox="0 0 362.73401 511.99998"
            id="svg3476"
            version="1.1"
            inkscape:version="0.91 r13725"
            sodipodi:docname="CSS3.svg"
            class="tech-logo"
          >
            <defs id="defs3478" />
            <sodipodi:namedview
              id="base"
              pagecolor="#ffffff"
              bordercolor="#666666"
              borderopacity="1.0"
              inkscape:pageopacity="0.0"
              inkscape:pageshadow="2"
              inkscape:zoom="0.35"
              inkscape:cx="181.367"
              inkscape:cy="256"
              inkscape:document-units="px"
              inkscape:current-layer="layer1"
              showgrid="false"
              fit-margin-top="0"
              fit-margin-left="0"
              fit-margin-right="0"
              fit-margin-bottom="0"
              inkscape:window-width="1366"
              inkscape:window-height="704"
              inkscape:window-x="0"
              inkscape:window-y="27"
              inkscape:window-maximized="1"
            />
            <metadata id="metadata3481">
              <rdf:RDF>
                <cc:Work rdf:about="">
                  <dc:format>image/svg+xml</dc:format>
                  <dc:type
                    rdf:resource="http://purl.org/dc/dcmitype/StillImage"
                  />
                  <dc:title />
                </cc:Work>
              </rdf:RDF>
            </metadata>
            <g
              inkscape:label="Calque 1"
              inkscape:groupmode="layer"
              id="layer1"
              transform="translate(-193.633,-276.3622)"
            >
              <g id="g3013" transform="translate(119,276.3622)">
                <polygon
                  id="polygon2989"
                  points="437.367,100.62 404.321,470.819 255.778,512 107.644,470.877 74.633,100.62 "
                  style="fill: #264de4"
                />
                <polygon
                  id="polygon2991"
                  points="376.03,447.246 404.27,130.894 256,130.894 256,480.523 "
                  style="fill: #2965f1"
                />
                <polygon
                  id="polygon2993"
                  points="150.31,268.217 154.38,313.627 256,313.627 256,268.217 "
                  style="fill: #ebebeb"
                />
                <polygon
                  id="polygon2995"
                  points="256,176.305 255.843,176.305 142.132,176.305 146.26,221.716 256,221.716 "
                  style="fill: #ebebeb"
                />
                <polygon
                  id="polygon2997"
                  points="256,433.399 256,386.153 255.801,386.206 205.227,372.55 201.994,336.333 177.419,336.333 156.409,336.333 162.771,407.634 255.791,433.457 "
                  style="fill: #ebebeb"
                />
                <path
                  id="path2999"
                  d="m 160,0 55,0 0,23 -32,0 0,23 32,0 0,23 -55,0 z"
                  inkscape:connector-curvature="0"
                />
                <path
                  id="path3001"
                  d="m 226,0 55,0 0,20 -32,0 0,4 32,0 0,46 -55,0 0,-21 32,0 0,-4 -32,0 z"
                  inkscape:connector-curvature="0"
                />
                <path
                  id="path3003"
                  d="m 292,0 55,0 0,20 -32,0 0,4 32,0 0,46 -55,0 0,-21 32,0 0,-4 -32,0 z"
                  inkscape:connector-curvature="0"
                />
                <polygon
                  id="polygon3005"
                  points="311.761,313.627 306.49,372.521 255.843,386.191 255.843,433.435 348.937,407.634 349.62,399.962 360.291,280.411 361.399,268.217 369.597,176.305 255.843,176.305 255.843,221.716 319.831,221.716 315.699,268.217 255.843,268.217 255.843,313.627 "
                  style="fill: #ffffff"
                />
              </g>
            </g>
          </svg>
        </a>

        <a href="https://www.figma.com" class="svg-logo">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            id="Layer_1"
            viewBox="0 0 200 300"
            width="1667"
            height="2500"
            class="tech-logo"
          >
            <style type="text/css">
              .st0 {
                fill: #0acf83;
              }
              .st1 {
                fill: #a259ff;
              }
              .st2 {
                fill: #f24e1e;
              }
              .st3 {
                fill: #ff7262;
              }
              .st4 {
                fill: #1abcfe;
              }
            </style>
            <path
              id="path0_fill"
              class="st0"
              d="M50 300c27.6 0 50-22.4 50-50v-50H50c-27.6 0-50 22.4-50 50s22.4 50 50 50z"
            />
            <path
              id="path1_fill"
              class="st1"
              d="M0 150c0-27.6 22.4-50 50-50h50v100H50c-27.6 0-50-22.4-50-50z"
            />
            <path
              id="path1_fill_1_"
              class="st2"
              d="M0 50C0 22.4 22.4 0 50 0h50v100H50C22.4 100 0 77.6 0 50z"
            />
            <path
              id="path2_fill"
              class="st3"
              d="M100 0h50c27.6 0 50 22.4 50 50s-22.4 50-50 50h-50V0z"
            />
            <path
              id="path3_fill"
              class="st4"
              d="M200 150c0 27.6-22.4 50-50 50s-50-22.4-50-50 22.4-50 50-50 50 22.4 50 50z"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>

  <hr />

  <a id="results"></a>
  <div class="columns">
    <div class="col">
      <img class="column-image" src="{% static 'img/bg.jpg' %}" />
    </div>

    <div class="col">
      <h2 class="grid-header">Results</h2>
      <p class="grid-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
        iure quisquam similique. Sequi quos recusandae quod nulla dolore ipsa
        totam, distinctio, ullam eaque aliquid nam et nesciunt repudiandae sit
        temporibus praesentium! Distinctio saepe voluptates commodi
        exercitationem vero, harum ipsa corrupti quasi quo maxime obcaecati
        rerum nesciunt explicabo magni accusantium eaque, repudiandae nam sint
        enim omnis iure delectus soluta, quisquam consectetur. Pariatur, dolor
        molestias reprehenderit inventore, repellendus velit ea ut vitae
        blanditiis totam nostrum atque dolorem vel distinctio sit quis
        dignissimos deleniti, ipsum quae aperiam beatae consequatur quisquam.
        Autem animi corporis sunt cum atque ab repudiandae suscipit
        necessitatibus aliquid, consequatur obcaecati.
      </p>
    </div>
  </div>

  <hr />
</main>
{% endblock %}
